header
    nav
        .logo-container
            a.logo(href = "index.html") Involv
        .navigation-items
            #burger
                #icon
                #drop-down
                    a.events-select Events
                    a.chat-select Chat
                    a.profile-select Profile
            #no-burger
                a.events-select Events
                a.chat-select Chat
                a.profile-select Profile