=opened-event
    overflow: hidden
    min-height: 10rem
    position: relative
    background-color: darken(powderblue, 30%)
    top: 0
    bottom: 0
    right: 0
    left: 0
    
    z-index: 999

    transform: scale(1.05)

    +cent-col

    .info
        display: unset
        opacity: 1
        height: auto

    .expand
        display: none

    .close
        display: unset

=event-hover
    transform: scale(1.05)

=expand-hover
    color: #000

.event
    +cent-col
    text-align: left
    overflow: none
    padding-left: 1rem
    padding-right: 1rem
    
    background-color: darken($event, 10%)
    margin: 0.5rem
    width: 100%
    cursor: pointer

    .icon
        font-size: 1.25rem
        color: #fff

    .time, .place
        color: #fff

    .place
        border-bottom: 1px solid #fff
        margin-bottom: 0.5rem
        padding-bottom: 0.5rem

    min-height: 0

    &:hover, &.opened
        +event-hover
    
    .close
        position: absolute
        top: 0.5rem
        right: 0.5rem
        text-align: right
        display: none
        font-weight: bold

        color: #000

    .expand
        position: absoluste
        color: $expand
        font-weight: bold
        font-size: 1.5rem
        text-align: right

        &:hover
            +expand-hover

    height: 5rem
    .info
        display: none
        opacity: 0
        height: 0


    > *
        width: 100%
        min-width: 100%

    &.opened
        +opened-event