.top-section-events
    +top-bg
    position: absolute
    padding-top: 4.5rem
    width: 100%
    height: 80vh
    +cent-col
    > *
        padding: 1rem
    > .title

        color: white
        font-size: 3rem
    > .description
        padding-bottom: 1rem
        font-size: 1.2rem