$prim-text: #000

$prim-bg: #fff

$header-bg: #fff

$shadow-color: rgba(0,0,0,0.2)

$event: #abf
$date-bg: #fff
$date-divider: #abf
$date-day: #555
$date-num: #fabbaf

$expand: #fff
$expand-hover: #fff

$burger-color: #555