html
    include main_parts/_head
    include main_parts/_header
    body
        .content

            input.input(type="text")
            button.send Send

            script.

                function initSendButton(chat) {
                    var input = $('.input');
                    var ChatMessage = Parse.Object.extend('ChatMessage');
                    $('.send').click(function() {
                        var msgTxt = input.val();
                        var message = new ChatMessage();
                        message.set('chat', chat);
                        message.set('message', msgTxt);
                        input.val('');
                        message.save();
                    })
                }

                var chatKey;
                var chat;
                var msgQuery;
                var subscription;
                var messages;

                function addMessage(message) {
                    messages.push(message);
                }

                Promise.resolve().then(function() {
                    var userQuery = new Parse.Query(Parse.User);
                    userQuery.include('mentor');
                    return userQuery.get(Parse.User.current().id);
                }).then(function(user) {

                    var mentor = user.get('mentor');
                    chatKey = user.id + mentor.id;

                    var chatQuery = new Parse.Query('Chat');
                    chatQuery.equalTo('key', chatKey);

                    return chatQuery.first();
                }).then(function(c) {
                        if (!c) {
                            var Chat = Parse.Object.extend('Chat');
                            c = new Chat();
                            c.set('key', chatKey);
                            return c.save();
                        } else {
                            return Promise.resolve(c);
                        }
                    })
                    .then(function(c) {
                        chat = c;

                        initSendButton(chat);

                        msgQuery = new Parse.Query('ChatMessage');
                        msgQuery.equalTo('chat', c);
                        msgQuery.limit(20);

                        return msgQuery.find();
                    })
                    .then(function(msgs) {
                        messages = msgs;
                        console.log(msgs);

                        var q = new Parse.Query('ChatMessage');
                        q.equalTo('chat', chat);

                        subscription = q.subscribe();
                        subscription.on('create', function(message) {
                            msgs.push(message);
                            console.log(message.get('message'));
                        });

                        subscription.on('update', function(message) {
                            msgs.push(message);
                            console.log(message.get('message'));
                        });

                    })
