html
    include main_parts/_head
    include main_parts/_header
    body
        .content
            include views/_login

            script.
                function login(e) {
                    e.preventDefault();

                    let username = $('.username').value;
                    let password = $('.password').value;

                    Parse.User.logIn(username, password)
                        .then(
                            function(user) {
                                $(window).trigger("loggedIn");
                                injectPage('events.html');
                            }, function(error){

                            }
                        );

                }

                jQuery('#submit-login').on('click', login);
