html
    include main_parts/_head
    include main_parts/_header
    body
        .content
            include views/_login

            script.
                function login(e) {
                    e.preventDefault();

                    let username = $('.username').val();
                    let password = $('.password').val();

                    console.log(username);

                    Parse.User.logIn(username, password)
                        .then(
                            function(user) {
                                console.log('logged in');
                                $(window).trigger("loggedIn");
                                injectPage('events.html');
                            }, function(error){
                                console.warn(error);
                            }
                        );

                }

                jQuery('#submit-login').on('click', login);
