html
    include main_parts/_head
    include main_parts/_header
    body
        .content
            include views/_profile

            script.

                function updateProfile() {
                    var user = Parse.User.current();
                    var name = user.get('firstName') + " " + user.get('lastName');
                    $('.name').text(name);

                    $('.profile-image').css(
                        "background",
                        "url("+window.PROF_URL+") center center no-repeat");
                    $('.profile-image').css(
                        "background-size",
                        "100%");
                }


                onParseReady(updateProfile);
