html
    include main_parts/_head
    include main_parts/_header
    body
        .content
            include views/_profile

            script.

                function updateProfile() {
                    var user = Parse.User.current();
                    var name = user.get('firstName') + " " + user.get('lastName');
                    $('.name').text(name);

                    var randNum = Math.floor(Math.random() * 80);
                    var url = "https://randomuser.me/api/portraits/women/"+randNum+".jpg";
                    $('.profile-image').css(
                        "background",
                        "url("+url+") center center no-repeat");
                }

                onParseReady(updateProfile);
