.view.chat

    div.message-container
        div.message.left 
            p LEFT MESSAGE

        div.message.right
            p RIGHT MESSAGE

    .compose
        input.input(type="text")
        button.send Send
