.view.login
    h1 Hello, welcome to
    img(src="dist/img/logo.svg" width ="250")
    form.loginform
        input.username(type = "text" placeholder="Enter Username" name="uname")
        input.password(type = "password" placeholder="Enter Password" name="psw")
        button#submit-login(type="submit") Login