.view.login
    form.loginform
        input.username(type = "text" placeholder="Enter Username" name="uname")
        input.password(type = "password" placeholder="Enter Password" name="psw")
        button(type="submit") Login