.view.profile
    .top-section
        .profile-image
        .name Matthew
    .bottom-section
        h1 Your interests
        .interests
            .interest Running
            .interest Music
            .interest Science
            .interest Bowling