.view.profile
    .top-section
        .you
            .profile-image
            .name
    .bottom-section
        .section
            h1 Your mentor
            .mentor
                .mentor-profile-image
                .mentor-name Matthew Daniels

        .section
            h1 Your interests
            .interests
                .interest Running
                .interest Music
                .interest Science
                .interest Bowling