.top-section
    +cent-col
    position: relative
    height: 50vh
    width: 100%

    +top-bg

    .profile-image
        width: 200px
        height: 200px
        background: url('../img/pf.jpg') center center no-repeat
        background-size: cover
        border-radius: 100%

    .you
        +cent-col
        .name
            color: white
            font-size: 3rem
            letter-spacing: 0.5rem