.view.chat
    +cent-col

    width: 100%

    .message-container
        margin-bottom: 50px
        width: 100%
        max-width: 60rem

    .message
        position: relative
        max-width: 20em

        padding-top: 0.5em
        padding-bottom: 0.5em
        padding-right: 1em
        padding-left: 1em

        margin-bottom: 1em
        color: white

        &.left
            background-color: darken(powderblue, 10%)
            margin-left: 0
            margin-right: auto
        &.right
            text-align: right
            margin-right: 0
            margin-left: auto
            background-color: lighten(salmon, 10%)

    .compose
        position: fixed
        width: 100%
        max-width: 600px
        text-align: center
        bottom: 0

        *
            height: 50px

        input
            width: 80%
            float: left

        button
            width: 20%
