.view.chat
    +cent-col
    position: fixed
    div.messagebox
        position: absolute
        top: 0px
        background-color: blue

    .compose
        position: fixed
        height: 100px
        left: 0
        bottom: 0
        right: 0
