.view.chat
    +cent-col
    
    .message-container
        +cent-col
        margin-bottom: 50px
        max-width: 600px
        width: 100%

    .message
        width: 100%

        position: relative

        &.left
            background-color: powder-blue
            left: 0
        &.right
            text-align: right
            right: 0
            background-color: salmon

    .compose
        position: fixed
        width: 100%
        max-width: 600px
        text-align: center
        bottom: 0

        *
            height: 50px

        input
            width: 80%
            float: left

        button
            width: 20%
