.view.login
    +cent-col
    position: fixed
    form.loginform
        +cent-col

        border-top: 0.25rem solid powderblue
        padding-top: 1rem

        *
            outline: none
            font-size: 1.25rem
        input
            border: none
        button
            background: none
            cursor: pointer
            border: none
            &:hover, &:active
                transform: scale(1.2)
                color: powderblue
            color: #aaa
        > *
            margin: 0.5rem
            padding: 0.5rem